<!DOCTYPE html>
<html>
<head>
<style>
    footer {
        padding: 1em;
        color: white;
        background-color: deepskyblue;
        clear: left;
        text-align: left;
    }
</style>
</head>

<footer>
    <p><b>© Elias Mote 2017</b></p>
</footer>
</html>