<%- include("../includes/header.ejs", {title:"Games - View By Platform"}); %>

<h1>Games</h1>
<a href="/game/add">Create New Game</a> <br />

<br />

<table border="1">
    <tr><th>Game Name</th><th>Developer</th><th>Platform</th><th>Beaten?</th><th>Units Sold Worldwide</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].GName %></td>
        <td><%= result[i].DName %></td>
        <td><%= result[i].PlName %></td>
        <td><%= Boolean(result[i].isBeaten) %>
        </td>
        <td><%= result[i].units_sold_worldwide %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/game/edit/?GName=<%= result[i].GName %>&developer_id=<%= result[i].developer_id %>&platform_id=<%= result[i].platform_id %>'">Edit</button>
            <form action="/game/delete/" style="display:inline;">
                <input type="hidden" name="GName" id="GName" value="<%= result[i].GName %>" />
                <input type="hidden" name="developer_id" id="developer_id" value="<%= result[i].developer_id %>" />
                <input type="hidden" name="platform_id" id="platform_id" value="<%= result[i].platform_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />
Select games by platform
<form action="/game/gamesByPlatform/" style="display:inline;">
    <select name="platform_id" id="platform_id">
        <% for(var i=0; result2.length > i; i++ ) { %>
        <option label="<%=result2[i].PlName%>"><%= result2[i].platform_id %></option>
        <% } %>
    </select>
    <input type="submit" value="Submit"/>
</form>

<br />
<br />
<h2>Game Reviews</h2>
<a href="/game/addGameReview">Create New Game Review</a> <br />
<table border="1">
    <tr><th>Game Name</th><th>Developer</th><th>Platform</th><th>Reviewer</th><th>Score</th><th>Actions</th></tr>
    <% for(var i=0; result3.length > i; i++ ) { %>
    <tr>
        <td><%= result3[i].GName %></td>
        <td><%= result3[i].DName %></td>
        <td><%= result3[i].PlName %></td>
        <td><%= result3[i].rev_name %></td>
        <td><%= result3[i].score %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/game/editGameReview/?GName=<%= result3[i].GName %>&developer_id=<%= result3[i].developer_id %>&platform_id=<%= result3[i].platform_id %>&rev_name=<%= result3[i].rev_name %>'">Edit</button>
            <form action="/game/deleteGameReview/" style="display:inline;">
                <input type="hidden" name="GName" id="GName" value="<%= result3[i].GName %>" />
                <input type="hidden" name="developer_id" id="developer_id" value="<%= result3[i].developer_id %>" />
                <input type="hidden" name="platform_id" id="platform_id" value="<%= result3[i].platform_id %>" />
                <input type="hidden" name="rev_name" id="rev_name" value="<%= result3[i].rev_name %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br/>
Show reviews with minimum average score
<form action="/game/gamesByReviewScore/" style="display:inline;">
    <input id="score" name="score" type="number" />
    <input type="submit" value="Submit"/>
</form>

<%- include("../includes/footer.ejs"); %>