<%- include("./includes/header.ejs", {title: title}); %>

    <h1>Home Page</h1>

    <p><a href="/game/about">About</a></p>
    <p><a href="/developer/all">Developers - View All</a><p>
    <p><a href="/game/all">Games - View All</a></p>
    <p><a href="/platform/all">Platforms - View All</a><p>

<%- include("./includes/footer.ejs"); %>