<%- include("../includes/header.ejs", {title:"Developer - View All"}); %>

<h1>Developers</h1>
<a href="/developer/add">Create New Developer</a> <br /><br />

<table border="1">
    <tr><th>Developers</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].DName %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/developer/edit/?DName=<%= result[i].developer_id %>'">Edit</button>
            <form action="/developer/delete/" style="display:inline;">
                <input type="hidden" name="developer_id" id="developer_id" value="<%= result[i].developer_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>



<%- include("../includes/footer.ejs"); %>