<%- include("../includes/header.ejs", {title:"Create New Developer"}); %>
<h1>Create New Developer</h1>

<form action="/developer/insert" method="get">
    Developer Name: <input id="DName" name="DName" type="text" />
    <br>
    <br>

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>