<%- include("../includes/header.ejs", {title: "Update " + developer.DName}); %>

<h1>Update <%= developer.DName%></h1>
<form action="/developer/update" method="get">
    <input type="hidden" id="developer_id" name="developer_id" value="<%= developer.developer_id %>">
    Developer Name: <input id="DName" name="DName" type="text" value="<%= developer.DName%>"/>
    <br>
    <br>

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>