<%- include("../includes/header.ejs", {title:"Video Game Database"}); %>

<h1>About</h1>
<p>Purpose: The purpose of this website is to help people to keep track of video games that they own
by storing them into a database. Along with storing each game, a user can keep track of which games
they have beaten.</p>
<p>Info: This website was developed by Elias Mote.</p>
<p><a href="/images/Project_2_ER_Diagram.png">ER Diagram</a></p>
<p><a href="/images/Project_2_Relational_Schema.png">Relational Schema</a></p>
<p><a href="/images/Project_2_Functional_Dependency.png">Functional Dependency</a></p>

<%- include("../includes/footer.ejs"); %>