<%- include("../includes/header.ejs", {title: "Update " + result.GName}); %>

<h1>Update <%= result.GName%></h1>
<h4>Reviewer <%= result.rev_name%></h4>
<h4>Score <%= result.score%></h4>
<form action="/game/updateGameReview" method="get" id="gameform">

    <input type="hidden" id="oldGName" name="oldGName" value="<%= result.GName %>">
    <input type="hidden" id="old_developer_id" name="old_developer_id" value="<%= result.developer_id %>">
    <input type="hidden" id="old_platform_id" name="old_platform_id" value="<%= result.platform_id %>">
    <input type="hidden" id="old_rev_name" name="old_rev_name" value="<%= result.rev_name %>">

    Reviewer Name: <input form="gameform" id="rev_name" name="rev_name" type="text" />
    <br />

    Score: <input form="gameform" id="score" name="score" type="number" />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>