<%- include("../includes/header.ejs", {title: "Update " + result.GName}); %>

<h1>Update <%= result.GName%></h1>
<form action="/game/update" method="get" id="gameform">

    <input type="hidden" id="oldGName" name="oldGName" value="<%= result.GName %>">
    <input type="hidden" id="old_developer_id" name="old_developer_id" value="<%= result.developer_id %>">
    <input type="hidden" id="old_platform_id" name="old_platform_id" value="<%= result.platform_id %>">
    <br />
    <br />
    Developer
    <select id="developer_id" name="developer_id">
        <% for(var i=0; result2.length > i; i++ ) {
            var selected = "";

            if(result2[i].developer_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= result2[i].developer_id %>" <%= selected %> ><%= result2[i].DName %></option>
        <% } %>
    </select>

    Platform
    <select id="platform_id" name="platform_id">
        <% for(var i=0; result3.length > i; i++ ) {
            var selected = "";

            if(result3[i].platform_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= result3[i].platform_id %>" <%= selected %> ><%= result3[i].PlName %></option>
        <% } %>
    </select>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>