<%- include("../includes/header.ejs", {title:"Create New Game"}); %>
<h1>Create New Game Review</h1>

<form action="/game/insertGameReview" method="get" id="gameform">
    Reviewer Name: <input form="gameform" id="rev_name" name="rev_name" type="text" />
    <br />
    Score: <input form="gameform" id="score" name="score" type="number" />
    <select name="GName" id="" form="gameform">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option label="<%=result[i].GName%>"> <%= result[i].GName %></option>
        <% } %>
    </select>
    <select name="developer_id" id="" form="gameform">
        <% for(var i=0; result1.length > i; i++ ) { %>
            <option label="<%=result1[i].DName%>"> <%= result1[i].developer_id %></option>
        <% } %>
    </select>
    <select name="platform_id" form="gameform">
        <% for(var i=0; result2.length > i; i++ ) { %>
            <option label="<%=result2[i].PlName%>"><%= result2[i].platform_id %></option>
        <% } %>
    </select>

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>