<%- include("../includes/header.ejs", {title:"Create New Game"}); %>
<h1>Create New Game</h1>

<form action="/game/insert" method="get" id="gameform">
    Game Name: <input form="gameform" id="GName" name="GName" type="text" />
    <br />
    Units sold worldwide: <input form="gameform" id="units_sold_worldwide" name="units_sold_worldwide" type="number" />
    <br />

    Developer
    <select name="developer_id" id="" form="gameform">
        <% for(var i=0; result1.length > i; i++ ) { %>
            <option label="<%=result1[i].DName%>"> <%= result1[i].developer_id %></option>
        <% } %>
    </select>
    <br />

    Platform
    <select name="platform_id" form="gameform">
        <% for(var i=0; result2.length > i; i++ ) { %>
            <option label="<%=result2[i].PlName%>"><%= result2[i].platform_id %></option>
        <% } %>
    </select>
    <br />

    Has the game been beaten?
    <select name="isBeaten" form="gameform">
        <option value="1">True</option>
        <option value="0">False</option>
    </select>

    <br />
    Reviewer Name: <input form="gameform" id="rev_name" name="rev_name" type="text" />
    <br />
    Score: <input form="gameform" id="score" name="score" type="number" />

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>