<%- include("../includes/header.ejs", {title: "Update " + platform.PlName}); %>

<h1>Update <%= platform.PlName%></h1>
<form action="/platform/update" method="get">
    <input type="hidden" id="platform_id" name="platform_id" value="<%= platform.platform_id %>">
    Platform Name: <input id="PlName" name="PlName" type="text" value="<%= platform.PlName%>"/>
    <br>
    <br>

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>