<%- include("../includes/header.ejs", {title:"Platform - View All"}); %>

<h1>Platforms</h1>
    <a href="/platform/add">Create New Platform</a> <br /><br />

    <table border="1">
        <tr><th>Platforms</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].PlName %></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/platform/edit/?PlName=<%= result[i].platform_id %>'">Edit</button>
                <form action="/platform/delete/" style="display:inline;">
                    <input type="hidden" name="platform_id" id="platform_id" value="<%= result[i].platform_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>



<%- include("../includes/footer.ejs"); %>