<%- include("../includes/header.ejs", {title:"Create New Platform"}); %>
<h1>Create New Platform</h1>

<form action="/platform/insert" method="get">
    Platform Name: <input id="PlName" name="PlName" type="text" />
    <br>
    <br>

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>